html{
border: solid;
border-width: 16px
}

body {
background-color: rgb(11,41,17);
}

.header_box {
background-color: rgb(1, 254, 161);
font-family: 'Sevastopol-Interface';
font-size: 15px;
}

@font-face {
  font-family: 'Sevastopol-Interface';
    src: url('sevastopol-interface-font/Sevastopol-Interface.eot'); /* IE9 Compat Modes */
        src: url('sevastopol-interface-font/Sevastopol-Interface.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('sevastopol-interface-font/Sevastopol-Interface.woff2') format('woff2'), /* Super Modern Browsers */
        url('sevastopol-interface-font/Sevastopol-Interface.woff') format('woff'), /* Pretty Modern Browsers */
        url('sevastopol-interface-font/Sevastopol-Interface.ttf')  format('truetype'), /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}